In [1065]:
#pip install pandas
#pip install Pyarrow
#pip install statsmodels

Importing libs and renaming for ease later

In [1066]:
import pandas as pd
import numpy as np
from statsmodels.formula.api import ols
from datetime import datetime, date, timedelta

# Read in CRSP data from TSLA from csv file

In [1067]:
ret = pd.read_csv('Data/tslarets.csv')

# Examine the df

In [1068]:
ret.head()

,PERMNO,date,TICKER,BIDLO,ASKHI,PRC,VOL,RET,BID,ASK,OPENPRC,NUMTRD,sprtrn
0,93436,2019-01-02,TSLA,298.79999,315.13000,310.12000,11658648,-0.068149,310.07999,310.09000,306.10001,145507.0,0.001269
1,93436,2019-01-03,TSLA,297.38000,309.39999,300.35999,6964484,-0.031472,300.35001,300.35999,307.00000,82112.0,-0.024757
2,93436,2019-01-04,TSLA,302.73001,318.00000,317.69000,7390907,0.057697,317.56000,317.69000,306.00000,85110.0,0.034336
3,93436,2019-01-07,TSLA,317.75079,336.73999,334.95999,7551325,0.054361,334.81000,334.97000,321.72000,88354.0,0.007010
4,93436,2019-01-08,TSLA,327.01999,344.01001,335.35001,7008220,0.001164,335.29001,335.32001,341.95999,76752.0,0.009695

In [1069]:
len(ret)

1008

In [1070]:
ret.columns

Index(['PERMNO', 'date', 'TICKER', 'BIDLO', 'ASKHI', 'PRC', 'VOL', 'RET',
       'BID', 'ASK', 'OPENPRC', 'NUMTRD', 'sprtrn'],
      dtype='object')

In [1071]:
ret.dtypes

PERMNO       int64
date        object
TICKER      object
BIDLO      float64
ASKHI      float64
PRC        float64
VOL          int64
RET        float64
BID        float64
ASK        float64
OPENPRC    float64
NUMTRD     float64
sprtrn     float64
dtype: object

# Change a variables name

In [1072]:
ret = ret.rename(columns={"RET":"Daily_ret"})

# check to see if the rename worked

In [1073]:
ret.columns

Index(['PERMNO', 'date', 'TICKER', 'BIDLO', 'ASKHI', 'PRC', 'VOL', 'Daily_ret',
       'BID', 'ASK', 'OPENPRC', 'NUMTRD', 'sprtrn'],
      dtype='object')

# Examine summary stats of df

In [1074]:
ret.describe()

,PERMNO,BIDLO,ASKHI,PRC,VOL,Daily_ret,BID,ASK,OPENPRC,NUMTRD,sprtrn
count,1008.0,1008.000000,1008.000000,1008.000000,1.008000e+03,1008.000000,1008.000000,1008.000000,1008.000000,1.008000e+03,1008.000000
mean,93436.0,602.832916,634.185358,618.877613,2.915840e+07,0.002596,618.668869,618.914464,618.732648,5.826159e+05,0.000528
std,0.0,336.802462,357.885512,347.870651,2.826885e+07,0.042309,347.753948,347.950697,347.403901,4.391903e+05,0.014429
min,93436.0,108.240000,116.270000,109.100000,2.465629e+06,-0.210628,109.070000,109.100000,110.350000,3.688400e+04,-0.119841
25%,93436.0,291.511257,302.680795,297.354995,1.212935e+07,-0.018458,297.322493,297.454997,297.862500,2.025618e+05,-0.005327
50%,93436.0,620.929995,655.834900,644.715025,2.192508e+07,0.001987,644.704990,644.924990,641.084995,5.487755e+05,0.000972
75%,93436.0,801.843737,843.230010,816.767485,3.299180e+07,0.022335,816.497510,816.947505,823.379502,8.347468e+05,0.007389
max,93436.0,2186.520020,2318.489990,2238.750000,2.232854e+08,0.198949,2237.000000,2239.760010,2295.120120,2.810000e+06,0.093828

In [1075]:
ret['Daily_ret'].describe

<bound method NDFrame.describe of 0      -0.068149
1      -0.031472
2       0.057697
3       0.054361
4       0.001164
          ...
1003   -0.017551
1004   -0.114089
1005    0.033089
1006    0.080827
1007    0.011164
Name: Daily_ret, Length: 1008, dtype: float64>

In [1076]:
ret.mean(numeric_only=True)

PERMNO       9.343600e+04
BIDLO        6.028329e+02
ASKHI        6.341854e+02
PRC          6.188776e+02
VOL          2.915840e+07
Daily_ret    2.596419e-03
BID          6.186689e+02
ASK          6.189145e+02
OPENPRC      6.187326e+02
NUMTRD       5.826159e+05
sprtrn       5.276210e-04
dtype: float64

# Read in Google GSVI data CSV

In [1077]:
gsvi = pd.read_csv('Data/tslatrends.csv', header=1)
gsvi.head()

         Week  NASDAQ:TSLA: (United States)
0  2019-01-27                            15
1  2019-02-03                             9
2  2019-02-10                             9
3  2019-02-17                            10
4  2019-02-24                            21

### Change variable name

In [1078]:
gsvi = gsvi.rename(columns={"NASDAQ:TSLA: (United States)": "GSVI_TSLA"})
gsvi.head()

         Week  GSVI_TSLA
0  2019-01-27         15
1  2019-02-03          9
2  2019-02-10          9
3  2019-02-17         10
4  2019-02-24         21

In [1079]:
gsvi.dtypes

Week         object
GSVI_TSLA     int64
dtype: object

In [1080]:
ret['date'] = pd.to_datetime(ret['date'])
gsvi['Week'] = pd.to_datetime(gsvi['Week'])
gsvi['Week'] = gsvi['Week'] + pd.Timedelta('1 day')

In [1081]:
gsvi.dtypes

Week         datetime64[ns]
GSVI_TSLA             int64
dtype: object

In [1082]:
merge = pd.merge(gsvi, ret, how='left', left_on='Week', right_on='date')

In [1083]:
merge.head(-1)

,Week,GSVI_TSLA,PERMNO,date,TICKER,BIDLO,ASKHI,PRC,VOL,Daily_ret,BID,ASK,OPENPRC,NUMTRD,sprtrn
0,2019-01-28,15,93436.0,2019-01-28,TSLA,287.75000,297.45999,296.38000,6423079.0,-0.002222,296.38,296.39001,292.91000,74962.0,-0.007847
1,2019-02-04,9,93436.0,2019-02-04,TSLA,301.88000,315.29999,312.89001,7352082.0,0.002178,312.87,312.88000,312.98001,81596.0,0.006776
2,2019-02-11,9,93436.0,2019-02-11,TSLA,310.50000,318.60001,312.84000,7129713.0,0.023022,312.84,312.85001,311.60001,77495.0,0.000709
3,2019-02-18,10,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-02-25,21,93436.0,2019-02-25,TSLA,297.00049,302.90439,298.76999,6625722.0,0.013776,298.56,298.78000,297.91000,73434.0,0.001232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,2023-12-18,19,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,2023-12-25,16,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,2024-01-01,15,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258,2024-01-08,18,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,2024-01-15,18,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1084]:
# Drop observations with missing OPENPRC
merge=merge[merge['OPENPRC'].notna()]
merge.head()

,Week,GSVI_TSLA,PERMNO,date,TICKER,BIDLO,ASKHI,PRC,VOL,Daily_ret,BID,ASK,OPENPRC,NUMTRD,sprtrn
0,2019-01-28,15,93436.0,2019-01-28,TSLA,287.75000,297.45999,296.38000,6423079.0,-0.002222,296.38000,296.39001,292.91000,74962.0,-0.007847
1,2019-02-04,9,93436.0,2019-02-04,TSLA,301.88000,315.29999,312.89001,7352082.0,0.002178,312.87000,312.88000,312.98001,81596.0,0.006776
2,2019-02-11,9,93436.0,2019-02-11,TSLA,310.50000,318.60001,312.84000,7129713.0,0.023022,312.84000,312.85001,311.60001,77495.0,0.000709
4,2019-02-25,21,93436.0,2019-02-25,TSLA,297.00049,302.90439,298.76999,6625722.0,0.013776,298.56000,298.78000,297.91000,73434.0,0.001232
5,2019-03-04,18,93436.0,2019-03-04,TSLA,282.78000,299.00000,285.35999,17096482.0,-0.031989,285.17999,285.29999,298.12000,206526.0,-0.003881

### Add a split adjustment to stock data

In [1085]:
merge['split_adj']=1
merge['split_adj']=np.where(merge["date"] <= '2022-08-25', 3, merge['split_adj'])
merge['split_adj']=np.where(merge["date"] <= '2020-08-31', 15, merge['split_adj'])
merge['adj_price']=merge['OPENPRC']/merge['split_adj']

### Calculate weekly stock returns

In [1086]:
merge['lead_prc'] = merge['adj_price'].shift(1)
merge['adj_ret'] = (merge['adj_price'] - merge['lead_prc']) / merge['lead_prc']
merge.head()

,Week,GSVI_TSLA,PERMNO,date,TICKER,BIDLO,ASKHI,PRC,VOL,Daily_ret,BID,ASK,OPENPRC,NUMTRD,sprtrn,split_adj,adj_price,lead_prc,adj_ret
0,2019-01-28,15,93436.0,2019-01-28,TSLA,287.75000,297.45999,296.38000,6423079.0,-0.002222,296.38000,296.39001,292.91000,74962.0,-0.007847,15,19.527333,NaN,NaN
1,2019-02-04,9,93436.0,2019-02-04,TSLA,301.88000,315.29999,312.89001,7352082.0,0.002178,312.87000,312.88000,312.98001,81596.0,0.006776,15,20.865334,19.527333,0.068519
2,2019-02-11,9,93436.0,2019-02-11,TSLA,310.50000,318.60001,312.84000,7129713.0,0.023022,312.84000,312.85001,311.60001,77495.0,0.000709,15,20.773334,20.865334,-0.004409
4,2019-02-25,21,93436.0,2019-02-25,TSLA,297.00049,302.90439,298.76999,6625722.0,0.013776,298.56000,298.78000,297.91000,73434.0,0.001232,15,19.860667,20.773334,-0.043935
5,2019-03-04,18,93436.0,2019-03-04,TSLA,282.78000,299.00000,285.35999,17096482.0,-0.031989,285.17999,285.29999,298.12000,206526.0,-0.003881,15,19.874667,19.860667,0.000705

In [1087]:
print(len(merge))
merge=merge[merge['adj_ret'].notna()]
print(len(merge))
merge=merge[merge['GSVI_TSLA'].notna()]
print(len(merge))

186
185
185

### Run a regression

In [1088]:
#demo how to snip a df based on a single variable condition
merge1 = merge[merge['date'] <= '2022-01-01']

In [1089]:
formula = 'adj_ret ~ GSVI_TSLA'
results = ols(formula, merge1).fit()

In [1090]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                adj_ret   R-squared:                       0.009
Model:                            OLS   Adj. R-squared:                  0.002
Method:                 Least Squares   F-statistic:                     1.283
Date:                Tue, 30 Jan 2024   Prob (F-statistic):              0.259
Time:                        15:21:47   Log-Likelihood:                -29.263
No. Observations:                 140   AIC:                             62.53
Df Residuals:                     138   BIC:                             68.41
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.0033      0.049     -0.068      0.946      -0.100       0.094
GSVI_TSLA      0.0017      0.002      1.133      0.259      -0.001       0.005
==============================================================================
Omnibus:                      258.077   Durbin-Watson:                   2.445
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            50762.875
Skew:                           8.516   Prob(JB):                         0.00
Kurtosis:                      94.717   Cond. No.                         61.5
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [1091]:
trex = pd.read_csv('Data/TREX.csv')
trex['sun_date'] = pd.to_datetime(trex['Date'])+timedelta(days=-1)
#trex.dtypes

In [1092]:
trex.describe()

,Open,High,Low,Close,Adj Close,Volume,sun_date
count,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,1258
mean,66.177568,67.397329,65.003144,66.191812,66.191812,1.154900e+06,2021-07-27 08:39:40.922098688
min,29.160000,29.879999,28.110001,29.395000,29.395000,2.338000e+05,2019-01-29 00:00:00
25%,45.648749,46.625000,44.988751,45.896251,45.896251,6.809000e+05,2020-04-28 06:00:00
50%,60.764999,61.832500,59.317499,60.720000,60.720000,9.353500e+05,2021-07-27 12:00:00
75%,81.724999,83.349998,80.425001,81.829998,81.829998,1.372075e+06,2022-10-24 18:00:00
max,140.000000,140.979996,138.089996,140.679993,140.679993,2.719180e+07,2024-01-28 00:00:00
std,25.020905,25.312034,24.642754,24.957828,24.957828,1.099275e+06,NaN

### create our own return variables

In [1093]:
trex = trex.assign(ret=(trex.Close - trex.Open) / trex.Open)
#trex.columns

In [1094]:
trex.describe()

,Open,High,Low,Close,Adj Close,Volume,sun_date,ret
count,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,1258,1258.000000
mean,66.177568,67.397329,65.003144,66.191812,66.191812,1.154900e+06,2021-07-27 08:39:40.922098688,0.000959
min,29.160000,29.879999,28.110001,29.395000,29.395000,2.338000e+05,2019-01-29 00:00:00,-0.156610
25%,45.648749,46.625000,44.988751,45.896251,45.896251,6.809000e+05,2020-04-28 06:00:00,-0.013756
50%,60.764999,61.832500,59.317499,60.720000,60.720000,9.353500e+05,2021-07-27 12:00:00,0.001717
75%,81.724999,83.349998,80.425001,81.829998,81.829998,1.372075e+06,2022-10-24 18:00:00,0.014416
max,140.000000,140.979996,138.089996,140.679993,140.679993,2.719180e+07,2024-01-28 00:00:00,0.154055
std,25.020905,25.312034,24.642754,24.957828,24.957828,1.099275e+06,NaN,0.025560

### Import GSVI for "TREX" and "LUMBER"

In [1095]:
trextrend = pd.read_csv('Data/TREXTREND.csv', header = 1)
trextrend = trextrend.rename(columns={"NYSE:TREX: (United States)":"trex_term"})
#trextrend.head()

In [1096]:
lumbertrend = pd.read_csv('Data/LUMBERTREND.csv', header = 1)
lumbertrend = lumbertrend.rename(columns={"lumber: (United States)":"lumber_term"})
#lumbertrend.head()

### Merge the two GSVI DFs

In [1097]:
gsvi=trextrend.merge(lumbertrend, left_on='Week', right_on='Week')
gsvi['Week'] = pd.to_datetime(gsvi['Week'])
gsvi.head()

        Week  trex_term  lumber_term
0 2019-02-03         24           51
1 2019-02-10         29           50
2 2019-02-17         15           51
3 2019-02-24         19           53
4 2019-03-03         10           54

In [1098]:
gsvi.dtypes

Week           datetime64[ns]
trex_term               int64
lumber_term             int64
dtype: object

### Merge with yahoo data

In [1099]:
trex_master = pd.merge(gsvi, trex, how='left', left_on='Week', right_on='sun_date')
trex_master.head()

,Week,trex_term,lumber_term,Date,Open,High,Low,Close,Adj Close,Volume,sun_date,ret
0,2019-02-03,24,51,2019-02-04,35.095001,35.750000,34.700001,35.599998,35.599998,921200.0,2019-02-03,0.014389
1,2019-02-10,29,50,2019-02-11,36.410000,37.810001,36.044998,37.709999,37.709999,1657000.0,2019-02-10,0.035704
2,2019-02-17,15,51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
3,2019-02-24,19,53,2019-02-25,38.009998,38.619999,37.994999,38.480000,38.480000,2014000.0,2019-02-24,0.012365
4,2019-03-03,10,54,2019-03-04,37.830002,38.205002,37.634998,37.794998,37.794998,698200.0,2019-03-03,-0.000925

### Run another regression

In [1100]:
formula = 'Volume ~ trex_term'
results = ols(formula, trex_master).fit()

In [1101]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Volume   R-squared:                       0.054
Model:                            OLS   Adj. R-squared:                  0.050
Method:                 Least Squares   F-statistic:                     13.10
Date:                Tue, 30 Jan 2024   Prob (F-statistic):           0.000362
Time:                        15:21:47   Log-Likelihood:                -3389.0
No. Observations:                 232   AIC:                             6782.
Df Residuals:                     230   BIC:                             6789.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   8.724e+05   6.44e+04     13.544      0.000    7.45e+05    9.99e+05
trex_term   1.053e+04   2909.830      3.620      0.000    4800.461    1.63e+04
==============================================================================
Omnibus:                      119.592   Durbin-Watson:                   1.003
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              778.956
Skew:                           1.942   Prob(JB):                    7.11e-170
Kurtosis:                      11.093   Cond. No.                         40.5
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.